@use '../../styles/breakpoints' as u;

.main-login{
  min-width: 36rem;
  @include u.breakpoint(large){
    min-height: fit-content;
    height: calc(100vh - 100px);
    display: grid;
    grid: 6rem auto / 9% 1fr 1.5fr 9%;
  }

  @include u.breakpoint(xlarge){
    grid: 6rem auto / auto 45.6rem 68.4rem auto;
  }

  &__background {
    @include u.breakpoint(large){
      width:  41.8%;
      height: 100vh;
      z-index: -1000;
      background-image: url('../../images/Background-inicio.png');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100% 100vh;
      grid-row: 1/5;
      grid-column: 1/5;
      position: relative;
      top: -6.4rem;
    }
  }
}

